<div class="all-page-title page-breadcrumb">
	
<div class="wrapper fadeInDown">
	<div class="container">

	 <!-- Outer Row -->
	 <div class="row justify-content-center">

	   <div class="col-xl-10 col-lg-12 col-md-9">

		 <div class="card o-hidden border-0 shadow-lg my-5">
		   <div class="card-body p-0">
			 <!-- Nested Row within Card Body -->
			 <div class="row">
			   <!--div class="col-lg-6 d-none d-lg-block bg-login-image"></div-->
			   <div class="col-lg-12">
				 <div class="p-5">
				   <div class="text-center">
							 <h2 class="h4 text-gray-900 mb-4 active"> Sign Up </h2>   						 
				   </div>
				  
				   <form id="user" action="inscrire" method="POST" align="center">
					 <div class="form-group">
					   <label for="email">ADRESSE E-MAIL 3iL</label>
					   <input type="text" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Votre email" name="email">
					 </div>
					 <div class="form-group">	                    	
					   <label for="password">MOT DE PASSE</label>
					   <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Mot de passe" name="pass">
					 </div>
					 <div class="form-group">
							 <select class="custom-select d-block form-control" id="guest" required data-error="Please Select Promotion">
								  <optgroup label="PROMOTIONS">
									 <option>I1</option>
									 <option>I2</option>
									 <option>I3</option>	
									 <option>M1</option>
									 <option>M2</option>
									 <option>M3</option>	
									 <option>CPI1</option>
									 <option>CPI2</option>	
								  </optgroup>											
							 </select>	
					   </div>      
					 <button type="submit" class="btn btn-primary btn-user btn-block">
					  Sign Up
					 </button>
					 <a href="login" type="button" class="btn btn-success btn-user btn-block">
						Sign In
				   </a>
				   </form>
				 </div>
			   </div>
			 </div>
		   </div>
		 </div>

	   </div>

	 </div>

   </div>
 </div>
</div>